----0-:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  margin:0;
  padding:0;
}

select {
  margin: 0.5rem;
  padding:0.5rem;
}

input[type='text'] {
  width:50vw;
  padding:0.5em;
  margin:0 0.5em;
}

input[type='submit'] {
  padding:0.1em 0.5em;
}

form.especial{
  display:inline-block;
}

ul {
  list-style:none;
  margin-left:0.5em;
  padding-left:0.5em;
}

li {
  margin-bottom:0.5em;
}
/* 画面全体のスタイル */
body, html {
  height: 140%;
  width: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; /* 微妙なグレーの背景色 */
}


#root {
  max-width: 1300px; /* 最大幅を1600pxに拡大 */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.todo-container {
  background-color: #d3d3d3;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* 幅を100%に設定 */
  max-width: 1200px; /* 最大幅を1200pxに設定 */
  margin: 1em; /* 中央寄せ */
  box-sizing: border-box; /* パディングとボーダーを含む */
}


select, input[type='text'], button[type='submit'] {
  width: 95%;
  margin: 0.5em 0;
  padding: 0.75em; /* パディングを大きく */
  font-size: 1.2em; /* フォントサイズを大きく */
  border: 1px solid #ccc;
  border-radius: 5px;
}


button[type='submit'] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 35%;
  font-size: 1.2em;
  padding: 0.5em 1em;
}


button[type='submit']:hover {
  background-color: #0056b3;
}


ul {
  list-style: none;
  padding: 0;
  width: 100%; /* 幅を100%に設定 */
}


li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;/* 背景色を白に設定 */
  padding: 1em; /* パディングを大きく */
  margin: 1em 0; /* マージンを大きく */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* リストアイテムのシャドウを追加 */
  width: 100%; /* 幅を100%に設定 */
  box-sizing: border-box; /* パディングとボーダーを含む */
}


li input[type='text'] {
  flex-grow: 1;
  margin-right: 1em;
  border: 1px solid #ccc; /* ボーダーを追加 */
  border-radius: 5px; /* ボーダーの角を丸く */
  background: #fff; /* 背景色を白に設定 */
  outline: none;
  font-size: 1.2em; /* フォントサイズを大きく */
  padding: 0.5em; /* パディングを追加 */
  box-sizing: border-box; /* パディングとボーダーを含む */
}


li input[type='checkbox'] {
  margin-right: 1em;
  transform: scale(1.5); /* チェックボックスを大きく */
}


li button {
  padding: 0.3em 0.6em; 
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}


li button:hover {
  background-color: #c82333;
}


button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}



